.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
}

.div-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 371px;
  height: 40px;
  gap: 8px;
}
.input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 272px;
  height: 40px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.button:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 24px;
  margin-top: 32px;
  padding-left: 205px;
}

.gallery_item {
  width: calc((100% - 48px) / 3);
}
.gallery-link {
  display: flex;
  width: 360px;
  height: 200px;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}
.info {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;
  background: #fff;
  display: flex;
  flex-direction: row;
  gap: 28px;
  text-align: center;
}
.text-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  width: 48px;
  height: 40px;
  justify-content: center;
  flex-direction: column;
  margin-top: 4px;
  margin-left: 10px;
}

.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}
.load-more:hover {
  background: #6c8cff;
}
